{% extends 'main/base.html' %}

{% block content %}
<div class="col-8 mx-auto">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2 align="center">{{ object.title }}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">{{ object.body }}</p>
            </div>
            {% if not user.is_staff %}
            <div class="card-footer text-center">
                <a href="{% url 'message:message_edit' object.pk %}" class="btn btn-warning">Изменить</a>
                <a href="{% url 'message:message_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}